@tailwind base;
@tailwind components;
@tailwind utilities;

#mapbox-directions-destination-input {
     pointer-events: none;
}

.marker_event {
     background-image: url('svg/marker_event.svg');
     background-size: cover;
     width: 45px;
     height: 45px;
     border-radius: 50%;
     cursor: pointer;
}

.marker_club {
     background-image: url('svg/marker_club.svg');
     background-size: cover;
     width: 45px;
     height: 45px;
     border-radius: 50%;
     cursor: pointer;
}

.marker_shop {
     background-image: url('svg/marker_shop.svg');
     background-size: cover;
     width: 45px;
     height: 45px;
     border-radius: 50%;
     cursor: pointer;
}