{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1 class="block mb-5 text-xl font-bold text-gray-900 dark:text-gray-300">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="block mb-5 text-sm font-medium text-gray-900 dark:text-gray-300">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="mb-6">
            <label for="id_email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{form.email.label}}</label>
            {{form.email}}
          </div>
        <input class="text-white bg-gradient-to-r from-redPrime via-redPrime to-redDark hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-redDark dark:focus:ring-redDark shadow-lg shadow-redDark/50 dark:shadow-lg dark:shadow-redPrime/80 px-10 py-2.5 text-center mr-2 mb-2 font-medium rounded-lg text-sm w-full" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p class="block mb-5 mt-5 text-sm font-medium text-gray-900 dark:text-gray-300">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
