{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}
  {% translate "Signup" %}
{% endblock head_title %}
{% block content %}
  <div class="w-full">
    <h1 class="block mb-5 text-xl font-bold text-gray-900 dark:text-gray-300">{% translate "Sign Up" %}</h1>
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="p-3 mb-3 text-sm text-red-600 rounded-lg dark:text-red-800">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="p-4 mb-4 text-sm text-red-700 rounded-lg dark:text-red-800">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}
    <p class="block mb-5 text-md font-medium text-gray-900 dark:text-gray-300">
      {% blocktrans %}Already have an account? Then please
  <a href="{{ login_url }}" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
    sign in
  </a>
  {% endblocktrans %}
    </p>
    <form class="signup space-y-6 md:space-y-6 mx-10"
          id="signup_form"
          method="post"
          action="{% url 'account_signup' %}">
      {% csrf_token %}
      <div class="mb-4">
        <label for="id_username"
               class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 ">
          {{ form.username.label }}
          <span class="text-red-600">*</span>
        </label>
        {{ form.username }}
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
       <div class="relative z-0 w-full mb-4 group">
          <label for="id_first_name"
                 class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
            {{ form.first_name.label }}
            <span class="text-red-600">*</span>
          </label>
          {{ form.first_name }}
         
        </div> 
        <div class="relative z-0 w-full mb-4 group">
          <label for="id_last_name"
                 class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
            {{ form.last_name.label }}
            <span class="text-red-600">*</span>
          </label>
          {{ form.last_name }}
        </div>  
      </div>
      <div class="mb-4">
        <label for="id_email"
               class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
          {{ form.email.label }}
        </label>
        {{ form.email }}
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-4 group">
          <label for="id_password1"
                 class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
            {{ form.password1.label }}
            <span class="text-red-600">*</span>
          </label>
          {{ form.password1 }}
        </div>
        <div class="relative z-0 w-full mb-4 group">
          <label for="id_password2"
                 class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
            {{ form.password2.label }}
            <span class="text-red-600">*</span>
          </label>
          {{ form.password2 }}
        </div>
      </div>
      <div class="mb-4">
        <label for="id_birthday"
               class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
          {{ form.birthday.label }}
          <span class="text-red-600">*</span>
        </label>
        <div class="relative">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
            <svg aria-hidden="true"
                 class="w-5 h-5 text-gray-500 dark:text-gray-400"
                 fill="currentColor"
                 viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
              clip-rule="evenodd">
              </path>
            </svg>
          </div>
          <input datepicker
                 type="text"
                 name="{{ form.birthday.name }}"
                 id="{{ form.birthday.id_for_label }}"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                 placeholder="Select date"
                 {% if form.birthday.value != None %}value="{{ form.birthday.value|date:'m/d/Y' }}"{% endif %}/>
        </div>
      </div>
      <div class="mb-4">
        <label for="id_activity"
               class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 ">
          {% translate "Select your activity" %}
          <span class="text-red-600">*</span>
        </label>
        {{ form.activity }}
      </div>
      <div class="mb-4">
        <label for="id_subscriber"
               class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 ">
          {% translate "You will register as" %}
          
          <span class="text-red-600">*</span>
        </label>
        <div class="flex">
          <div class="flex items-center mr-4">
            <input id="id_subscriber_0"
                   type="radio"
                   value="1"
                   name="subscriber"
                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"/>
            <label for="id_subscriber_0"
                   data-tooltip-target="tooltip-right-fans"
                   data-tooltip-placement="right"
                   class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
              {% translate "Fans" %}
            </label>
            <div id="tooltip-right-fans"
                 role="tooltip"
                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              {% translate "Registering as a fan will allow you to subscribe to all the events of your favorite activity." %}
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
          <div class="flex items-center mx-2 dark:text-white">Or</div>
          <div class="flex items-center mr-4">
            <input id="id_subscriber_1"
                   type="radio"
                   value="2"
                   name="subscriber"
                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"/>
            <label for="id_subscriber_1"
                   data-tooltip-target="tooltip-right-orga"
                   data-tooltip-placement="right"
                   class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
              {% translate "Organizer" %}
            </label>
            <div id="tooltip-right-orga"
                 role="tooltip"
                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              {% translate "Registering as an organizer will allow you to create clubs, stores and events. " %}
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
        </div>

      </div>
      <div class="my-4">
        <div class="flex items-center">
          {{ form.accepted_terms }}
          <label for="id_accepted_terms"
                 class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
            {% translate "I agree with the" %}
            <a href="{% url 'page' slug='terms-conditions' %}"
               class="text-redDark dark:text-yallowPrime hover:underline"
               target="_blank">{% translate "terms and conditions" %}</a>
               <span class="text-red-600">*</span>
          </label>
        </div>
      </div>
      {% if redirect_field_value %}
        <input type="hidden"
               name="{{ redirect_field_name }}"
               value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit"
              class="text-white bg-gradient-to-r from-redPrime via-redPrime to-redDark hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-redDark dark:focus:ring-redDark shadow-lg shadow-redDark/50 dark:shadow-lg dark:shadow-redPrime/80 px-10 py-2.5 text-center mr-2 mb-2 font-medium rounded-lg text-sm w-full">
        {% translate "Sign up" %}
      </button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/datepicker.min.js"></script>
    <script>
  var element = document.getElementById('id_subscriber_1')
  element.classList.add("ml-3");
    </script>
    <script>
      const firstNameInput = document.getElementById('id_first_name');
      const lastNameInput = document.getElementById('id_last_name');
      const usernameInput = document.getElementById('id_username');
    
      const alphabetRegex = /^[a-zA-Z]+$/;
      const usernameRegex = /^[a-zA-Z0-9@#$%^&*]+$/;
    
      firstNameInput.addEventListener('input', function() {
        if (!alphabetRegex.test(this.value)) {
          this.setCustomValidity('Le prénom ne peut contenir que des lettres de l\'alphabet.');
        } else {
          this.setCustomValidity('');
        }
      });
    
      lastNameInput.addEventListener('input', function() {
        if (!alphabetRegex.test(this.value)) {
          this.setCustomValidity('Le nom de famille ne peut contenir que des lettres de l\'alphabet.');
        } else {
          this.setCustomValidity('');
        }
      });
    
      usernameInput.addEventListener('input', function() {
       
        if (this.value.length > 10) {
          this.setCustomValidity('Le nom d\'utilisateur ne peut pas dépasser 10 caractères.');
        } else {
          this.setCustomValidity('');
        }
      });
    </script>
    
    
    
  </div>
{% endblock content %}
