{% extends "base/base.html" %}
{% load static i18n %}
{% block title %}
     {% translate "Subscribers of " %}{{ event_name }}
{% endblock title %}
{% block content %}
     <div class="container mx-auto">
          <div class="grid grid-cols-1 p-2 md:p-20 xl:grid-cols-3 xl:gap-4 ">
               <div class="mb-4 col-span-full xl:mb-2">
                    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white mb-6">{% translate "My Profile" %}</h1>
                    <nav class="flex" aria-label="Breadcrumb">
                         <ol class="inline-flex items-center space-x-1 md:space-x-3">
                              <li class="inline-flex items-center">
                                   <a href="{% url 'profile' request.user.username %}"
                                      class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                                        <svg aria-hidden="true"
                                             class="w-4 h-4 mr-2"
                                             fill="currentColor"
                                             viewBox="0 0 20 20"
                                             xmlns="http://www.w3.org/2000/svg">
                                             <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                                             </path>
                                        </svg>
                                        {% translate "Account" %}
                                   </a>
                              </li>
                              <li>
                                   <div class="flex items-center">
                                        <svg aria-hidden="true"
                                             class="w-6 h-6 text-gray-400"
                                             fill="currentColor"
                                             viewBox="0 0 20 20"
                                             xmlns="http://www.w3.org/2000/svg">
                                             <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd">
                                             </path>
                                        </svg>
                                        <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">{% translate "Profile" %}</span>
                                   </div>
                              </li>
                              <li aria-current="page">
                                   <div class="flex items-center">
                                        <svg aria-hidden="true"
                                             class="w-6 h-6 text-gray-400"
                                             fill="currentColor"
                                             viewBox="0 0 20 20"
                                             xmlns="http://www.w3.org/2000/svg">
                                             <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd">
                                             </path>
                                        </svg>
                                        <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">{% translate "Subscribers" %}</span>
                                   </div>
                              </li>
                         </ol>
                    </nav>
               </div>

               {% include "base/sidebar.html" %}
               <div class="col-span-2">
                    <strong>nombre de likes egale</strong>: {{ total_likes }}<br />
                    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                         <h2 class="mb-5 text-2xl font-semibold text-gray-900 dark:text-white">{% translate "Event information" %}</h2>
                         <strong>{% translate "Name" %}</strong>: {{ event_name }}<br />
                         <strong>{% translate "Date" %}</strong>: {{ event_date }}<br />
                         <strong>{% translate "Address" %}</strong>: {{ event_location }}
                    </div>
                    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                         <div class="flow-root">
                              <h3 class="text-xl font-semibold dark:text-white">{% translate "Subscribers" %}</h3>
                              <ul class="divide-y divide-gray-200 dark:divide-gray-700">
                                   {% for data in subscribers %}
                                        <li class="py-4">
                                             <div class="flex items-center space-x-4">
                                                  <div class="flex-1 min-w-0">
                                                       <span class="block text-base font-semibold text-gray-900 truncate dark:text-white capitalize">{{ data.username }}</span>
                                                  </div>
                                                  <div class="inline-flex items-center">
                                                       {% comment %} <a href="mailto:{{ data.email }}"
                                                          class="inline-flex items-center font-medium text-redDark dark:text-redDark hover:underline">
                                                          {% translate "Contact him/her" %}
                                                            <svg aria-hidden="true"
                                                                 class="w-5 h-5 ml-1"
                                                                 fill="currentColor"
                                                                 viewBox="0 0 20 20"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                 <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd">
                                                                 </path>
                                                            </svg>
                                                       </a> {% endcomment %}
                                                  </div>
                                             </div>
                                        </li>
                                        {% empty %}
                                        <p>No subscribers</p>
                                   {% endfor %}
                              </ul>
                         </div>
                    </div>
               </div>
          </div>
     </div>
{% endblock content %}
